.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: var(--info-height);
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  text-align: left;

  width: 80%;
  gap: 50px;
}
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    gap: 30px;
  }
}

img {
  height: 400px;
}
@media (max-width: 1000px) {
  img {
    height: 300px;
  }
  .image {
    margin-top: 30px;
  }
}

.quote {
  text-align: center;
}

span {
  font-weight: 700;
  font-style: italic;
}

.active {
  background-color: aliceblue;
}

a {
  font-weight: 900;
}

h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.back {
  align-content: flex-start;
}

.backIcon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background-color: var(--text-color);

  mask-image: url("/src/assets/back.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("/src/assets/back.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.backIcon:hover {
  background-color: var(--accent-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  font-size: smaller;
  width: fill-container;
  position: absolute;
  bottom: 0;
  margin: 10px;
}
