.container {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  text-align: left;
  width: fit-content;
}

.title {
  text-align: center;
  margin: 0;
  width: 100%;
}
@media (max-width: 500px) {
  .title {
    padding-bottom: 30px;
  }
}

.navbar {
  display: flex;
  min-height: var(--info-height);
  gap: 150px;
  flex-direction: row;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
@media (max-width: 500px) {
  .navbar {
    min-height: auto;
    flex-direction: column;
    gap: 20px;
    font-size: 1em;
  }
}

.Icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.back {
  width: 20px;
  height: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item:hover {
  filter: drop-shadow(0 0 2em var(--accent-color));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
