:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  color: #d4edc7;
  background-color: #840707;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #74c7fb;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6em;
  line-height: 1.1;
  font-weight: normal;
}

p {
  font-size: 1.5em;
}
